@font-face {
  font-family: "Avant";
  src: url("ITC-Avant-Garde-Gothic-LT-Book-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lubalin";
  src: url("ITC-Lubalin-Graph-Extra-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lubalin-Book";
  src: url("LubalinGraphStd-Book.otf");
  font-weight: normal;
  font-style: normal;
}
